﻿@model Models.Book
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddBook</title>
</head>
<body>
    <div class="panel-body">
        @ViewBag.Message
        <form asp-action="AddBook" asp-action-authorId="@Model.AuthorId">
            <div class="form-group">
                <label>Book title:</label>
                <input name="Title" />
            </div>
            <input type="submit" value="Add" class="btn btn-default">
            <a asp-action="Index">
                Cancel
            </a>
        </form>
    </div>

</body>
</html>
