﻿@model ViewModels.ShelfCollectionWithBookId

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddShelf</title>
</head>
<body>
    <div>
        @foreach (var shelf in Model.Shelfs)
        {
            <form asp-action="AddShelf" method="post">
                <input hidden="hidden" name="bookId" value="@Model.BookId">
                <input hidden="hidden" name="Id" value="@shelf.Id">
                <input hidden="hidden" name="Name" value="@shelf.Name">
                <input type="submit" value="@($"{shelf.Name} №{shelf.Id}")">

            </form>
            <br />
        }
    </div>
</body>
</html>
