﻿@model Models.Shelf
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateShelf</title>
</head>
<body>
    <div class="panel-body">
        @ViewBag.Message
        <form asp-action="CreateShelf" method="post">
            <div class="form-group">
                <label>ShelfName:</label>
                <input name="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="submit" value="Add" class="btn btn-default">
            <a asp-action="ViewAllShelfs">
                Cancel
            </a>
        </form>
    </div>

</body>
</html>
