﻿@model Models.Book
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteBook</title>
</head>
<body>
    <div>
        Yor really want to delete this "@Model.Title" book?
        <br />
        <form asp-action="DeleteBook" method="post">
            <input type="hidden" name="Id" value="@Model.Id">
            <input type="hidden" name="authorId" value="@Model.AuthorId">
            <input type="submit" value="Delete" class="btn btn-default">
        </form>
        <a asp-action="Index">
            Cancel
        </a>
    </div>
</body>
</html>
