﻿@model  IEnumerable<Models.Author>
@{
    ViewBag.Title = "Home Page";
}

<head>

</head>
<body>
    <div class="panel-heading text-center">
    </div>
    <div>
        @foreach (var author in Model.ToList())
        {
            <br />
            <a asp-action="ViewBooks" asp-route-authorId="@author.Id">
                @($" №  {@author.Id} {@author.FirstName} {@author.LastName}")
            </a>
        }
    </div>
    <a asp-action="ViewAllShelfs">
        ViewShelfs
    </a>
</body>
