﻿@model ViewModels.ShelfWithBookId
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteBook</title>
</head>
<body>
    <div>
        Yor really want to delete this "@Model.Shelf.Name" book?
        <br />
        <form asp-action="RemoveShelf" asp-action-bookId="@Model.BookId" method="post">
            <input type="hidden" value="@Model.Shelf.Id" name="Id">
            <input type="hidden" value="@Model.Shelf.Name" name="Name">
            <input type="submit" value="Delete" class="btn btn-default">
        </form>
        <a asp-action="Index">
            Cancel
        </a>
    </div>
</body>
</html>
