﻿@model Models.Author

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBooks</title>
</head>
<body>
    <div>
        @foreach (var book in Model.Books)
        {
            <a asp-action="ViewShelfs" asp-route-bookId="@book.Id" asp-route-authorId="@book.AuthorId">
                @book.Title;
            </a>
            <a asp-action="DeleteBook" asp-route-bookId="@book.Id" method="get">
                Х
            </a>

            <br />
        }
        <br />
        <a asp-action="AddBook" asp-route-authorId="@Model.Id">
            AddBook
        </a>
    </div>
</body>
</html>
