﻿@model IEnumerable<Models.Shelf>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewShelfs</title>
</head>
<body>
    <div>
        @foreach (var shelf in Model)
        {
            @shelf.Name;
            <a asp-action="DeleteShelf" asp-route-shelfId="@shelf.Id" method="Post">
                X
            </a>

            <br />
        }
        <br />
        <a asp-action="CreateShelf">
            CreateShelf
        </a>
    </div>
</body>
</html>
