﻿@model ViewModels.ShelfCollectionWithBookId

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewShelfs</title>
</head>
<body>
    <div>
        @foreach (var shelf in Model.Shelfs)
        {
            @shelf.Name;
            <a asp-action="RemoveShelf" asp-route-bookId="@Model.BookId" asp-route-shelfId="@shelf.Id">
                Х
            </a>

            <br />
        }
        <br />
        <a asp-action="AddShelf" asp-route-bookId="@Model.BookId">
            AddShelf
        </a>
    </div>
</body>
</html>
