﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>Shelfs</h3>
    <div *ngFor="let shelf of shelfs">
       
        <a routerLink="/shelfs/{{shelf.Id}}" routerLinkActive="active"> {{shelf.Name}}</a>
        <router-outlet></router-outlet>
        <label>Id:</label> {{shelf.Id}}
        <br />
    </div>
</body>
</html>